<div class="container">
  <div class="row">
    <% @quizzes.each do |quiz| %>
      <div class="col-xs-3">
        <h1><%= quiz.id %></h1>
        <h3><%= quiz.name %></h3>
        <%= link_to "Take the Quiz", question_path(quiz.questions.first) %>
      </div>
    <% end %>
  </div>
</div>
