<h1>You just did <%= @quiz.name %> !</h1>
<h3>Your score is <%= @result %>% !</h3>
<%= link_to retake_quiz_path, class: "btn btn-next-question" do  %>
  Je refais! <i class="fa fa-arrow-right"></i>
<% end %>
