.quizzes_show .sharer ul {
    padding-left: 0
}

.quizzes_show .sharer li {
    width: 100%;
    text-align: center
}

.quiz ul,.quiz ol {
    padding-left: 20px
}

.quiz ul {
    list-style: inherit
}

.quiz .congrats-message {
    font-size: 37px;
    color: #67635d
}

.quiz .congrats-message p {
    font-size: 20px;
    color: #dbd8d5
}

.quiz .congrats-message .btn-container {
    margin-bottom: 50px
}

.quiz table {
    display: inline-block
}

.quiz td {
    border: 1px solid #e6e6e6;
    padding: 25px;
    background: white
}

.quiz-controls {
    padding: 0 0 80px 0
}

.quiz .progress-radial {
    margin-bottom: 20px
}

.progress-radial {
    position: relative;
    width: 80px;
    height: 80px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid #EEEEEE
}

.progress-radial-bad {
    background-color: $bad
}

.progress-radial-bad .overlay {
    color: $bad
}

.progress-radial-avg {
    background-color: $avg
}

.progress-radial-avg .overlay {
    color: $avg
}

.progress-radial-good {
    background-color: $good
}

.progress-radial-good .overlay {
    color: $good
}

.progress-radial-perfect {
    background-color: $perfect
}

.progress-radial-perfect .overlay {
    color: $perfect
}

.progress-radial .overlay {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #EEEEEE;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    overflow: hidden;
    background: white
}

.progress-radial .overlay img {
    width: 60px;
    margin-top: -5px;
    margin-left: -5px
}

.progress-radial.progress-nil {
    background-color: #eeeeee;
    opacity: 0.6
}

$bordcolor: #e1e1e1;

$loops: 100;
$increment: 360 / $loops;
$half: round($loops / 2);
@for $i from 0 through $loops {
  .progress-bad-#{$i} {
    @if $i < $half {
      $nextdeg: 90deg + ( $increment * $i );
      background-image: linear-gradient(90deg, $bordcolor 50%, transparent 50%, transparent), linear-gradient($nextdeg, $bad 50%, $bordcolor 50%, $bordcolor);
    }
    @else {
      $nextdeg: -90deg + ( $increment * ( $i - $half ) );
      background-image: linear-gradient($nextdeg, $bad 50%, transparent 50%, transparent), linear-gradient(270deg, $bad 50%, $bordcolor 50%, $bordcolor);
    }
  }
  .progress-avg-#{$i} {
    @if $i < $half {
      $nextdeg: 90deg + ( $increment * $i );
      background-image: linear-gradient(90deg, $bordcolor 50%, transparent 50%, transparent), linear-gradient($nextdeg, $avg 50%, $bordcolor 50%, $bordcolor);
    }
    @else {
      $nextdeg: -90deg + ( $increment * ( $i - $half ) );
      background-image: linear-gradient($nextdeg, $avg 50%, transparent 50%, transparent), linear-gradient(270deg, $avg 50%, $bordcolor 50%, $bordcolor);
    }
  }
  .progress-good-#{$i} {
    @if $i < $half {
      $nextdeg: 90deg + ( $increment * $i );
      background-image: linear-gradient(90deg, $bordcolor 50%, transparent 50%, transparent), linear-gradient($nextdeg, $good 50%, $bordcolor 50%, $bordcolor);
    }
    @else {
      $nextdeg: -90deg + ( $increment * ( $i - $half ) );
      background-image: linear-gradient($nextdeg, $good 50%, transparent 50%, transparent), linear-gradient(270deg, $good 50%, $bordcolor 50%, $bordcolor);
    }
  }
  .progress-perfect-#{$i} {
    @if $i < $half {
      $nextdeg: 90deg + ( $increment * $i );
      background-image: linear-gradient(90deg, $bordcolor 50%, transparent 50%, transparent), linear-gradient($nextdeg, $perfect 50%, $bordcolor 50%, $bordcolor);
    }
    @else {
      $nextdeg: -90deg + ( $increment * ( $i - $half ) );
      background-image: linear-gradient($nextdeg, $perfect 50%, transparent 50%, transparent), linear-gradient(270deg, $perfect 50%, $bordcolor 50%, $bordcolor);
    }
  }
}
